In [15]:
covid_csv = 'owid-covid-data xcl.csv'
schools_csv = 'school-closures-covid xcl.csv'

In [16]:
import pandas as pd

In [25]:
covid_df = pd.read_csv(covid_csv)
schools_df = pd.read_csv(schools_csv)
covid_df

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,24/02/2020,1.0,1.0,NaN,NaN,0.026,0.026,...,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,25/02/2020,1.0,0.0,NaN,NaN,0.026,0.000,...,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,26/02/2020,1.0,0.0,NaN,NaN,0.026,0.000,...,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,27/02/2020,1.0,0.0,NaN,NaN,0.026,0.000,...,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,28/02/2020,1.0,0.0,NaN,NaN,0.026,0.000,...,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96657,ZWE,Africa,Zimbabwe,14/06/2021,40077.0,118.0,1635.0,3.0,2696.441,7.939,...,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.7,61.49,0.571
96658,ZWE,Africa,Zimbabwe,15/06/2021,40318.0,241.0,1637.0,2.0,2712.655,16.215,...,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.7,61.49,0.571
96659,ZWE,Africa,Zimbabwe,16/06/2021,40556.0,238.0,1640.0,3.0,2728.668,16.013,...,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.7,61.49,0.571
96660,ZWE,Africa,Zimbabwe,17/06/2021,40927.0,371.0,1647.0,7.0,2753.630,24.961,...,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.7,61.49,0.571
96661,ZWE,Africa,Zimbabwe,18/06/2021,41335.0,408.0,1656.0,9.0,2781.081,27.451,...,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.7,61.49,0.571

In [ ]:
covid_df.columns

In [42]:
coviddf = pd.DataFrame(covid_df)
schoolsdf = pd.DataFrame(schools_df)

In [45]:
schoolsdf[schoolsdf['Day']=='/1/12/2020']

            Entity Code         Day  school_closures
327    Afghanistan  AFG  /1/12/2020                1
328    Afghanistan  AFG  /1/12/2020                1
329    Afghanistan  AFG  /1/12/2020                1
330    Afghanistan  AFG  /1/12/2020                1
331    Afghanistan  AFG  /1/12/2020                1
...            ...  ...         ...              ...
93707     Zimbabwe  ZWE  /1/12/2020                1
93708     Zimbabwe  ZWE  /1/12/2020                1
93709     Zimbabwe  ZWE  /1/12/2020                1
93710     Zimbabwe  ZWE  /1/12/2020                1
93711     Zimbabwe  ZWE  /1/12/2020                1

[1295 rows x 4 columns]

In [ ]:
for i in schoolsdf:
    if schoolsdf['Day'][0] == '/1':
        schoolsdf['Day'] =