In [1]:
file = "owid-covid-data (2).csv"

In [2]:
import pandas as pd

In [3]:
csv = pd.read_csv(file)

In [4]:
df = pd.DataFrame(csv)

In [5]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,24/02/2020,1.0,1.0,NaN,NaN,0.026,0.026,...,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,25/02/2020,1.0,0.0,NaN,NaN,0.026,0.000,...,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,26/02/2020,1.0,0.0,NaN,NaN,0.026,0.000,...,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,27/02/2020,1.0,0.0,NaN,NaN,0.026,0.000,...,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,28/02/2020,1.0,0.0,NaN,NaN,0.026,0.000,...,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,0.5,64.83,0.511

In [ ]:
for country in countries: